/*Обнуління*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: 'Montserrat';}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: 600;}



.wrapper {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}

.right_main_block {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.right_main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.left_main_block {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    position: relative;  
}

.shadow_block_01 {
    position: absolute;
    bottom: 0;
    left: 45%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 10%;
    -webkit-mask-image: 
    linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%), 
    linear-gradient(to left, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%), 
    linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 3;
}
.shadow_block_02 {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: rgb(0, 0, 0);
    height: 10%;
    width: 50%;
    -webkit-mask-image: 
        linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    mask-image: 
        linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 4;
}
.shadow_block_03 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 10%;
    -webkit-mask-image: 
        linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    mask-image: 
        linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 5;
}
.shadow_block_04 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    height: 10%;
    width: 50%;
    -webkit-mask-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    mask-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 6;
}





.logo_header {
    width: 100%;
    padding: 0 15% 0 5%;
    height: 17.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    
    
}
.logo_img_block {
    width: 30%;
    height: 100%;
    
}
.logo_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.home_page_block {
    justify-content: center;
    align-content: center;
    background-color: rgba(240, 248, 255, 0);
    
    
}
.home_page_btn {
    background-color: rgba(97, 98, 99, 0);
    /* border-width: 1px;
    border-color: azure;
    border-style: solid; */
    padding: 5px 5px;
    letter-spacing: 2px;
}
.home_page_btn span{
    letter-spacing: 0.9px;
    font-weight: 500;
    color:white;
    font-size: 24px;
    text-shadow: 0.8px 0.8px 0.2px  #000;
    transition-duration: 0.5s;
    position: relative;
}
.home_page_btn span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    color: white;
    background-color: white;
  
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
  }
  
  .home_page_btn span:hover::after{
  
    transform: scaleX(1.0);
  }
.block_for_padding{
    padding: 0px 104px;
}
/*-------------------- Log in/Register blocks -----------------------*/
.main_block {
    padding: 0px 54px;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 100%;
    margin-top: 120px;
    transform: translateY(-50%);
    transition: transform ease-out 0.5s, opacity 0.3s;
    
}
.greeting_text_block {
    text-align: center;
    margin-bottom: 60px;
}


.or_block { 

    display: flex;
    justify-content: center;
    margin-bottom: 40px;  
}
.block_for_line{
    width: 40%;
    
}
.or_text {
    color: rgb(182, 182, 182);
    font-size: 18px;
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
.or_text::before,
.or_text::after {
    content: "";
    flex-grow: 1; 
    height: 2px; 
    background-color: rgb(182, 182, 182);; /* Колір лінії */
}
.data_entry {
    display: flex;
    justify-content: center;
}
.regAndlog_form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 55%;
}
.regAndlog_input{
    font-size: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4a9;
    padding: 10px 10px;
    margin: 5px 0;
    width: 100%;
    background-color: #ffffff67;
    color: #000;
    transition: all 1s;
}
.regAndlog_input::placeholder{
    color: #6e6e6e;
    font-size: 20px;
   
}
.regAndlog_input:hover{
    background-color: #eeeeee; 
}
.regAndlog_input:focus{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.253);
    background-color: #ffffff;
}

















.registration_google_block{
    display: flex;
    flex-direction:column;
    align-items: center;
     margin-bottom: 40px;
     padding: 0px 7%;
}
.login_google_block{
     display: flex;
    flex-direction:column;
    align-items: center;
     margin-bottom: 40px;
     padding: 0px 7%;
}


.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 65%;
    padding: 14px 0;
    font-size: 18px;
    font-weight: 600;



    /* margin-left: 41%;
    margin-bottom: 20px;
    margin-top: -30px; */
    color: rgb(37, 37, 37);
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 0 black;
    text-decoration: none; /* Видаляє підкреслення */
  }
  
  .google-btn:hover {
    background-color: black;
    color: white;
    box-shadow: 3px 3px 0 white;
  }
  
  .google-btn:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 0 white;
  }
  
  .google-icon  {
    width: 28px;
    height: 28px;
  }
  
  .greeting_text_01 {
    font-size: 38px;

    margin-top: -50px;

}
.greeting_text_02 {
    font-size: 26px;
}

/* Контейнер для форми, щоб кнопка була відносно нього */
.form-container {
    position: relative;
}
form-container-log{
    position: relative;  
}
/* Кнопка */
.reg_password_visibility_btn {
    position: absolute;
    top: 84%; /* Центруємо вертикально */
    right: 5%; /* Відстань від правого краю */
    width: 1.2vw; /* Відносна ширина */
    height: 1.2vw; /* Відносна висота */
    background-image: url('../img/opened-Eyes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: auto;
    cursor: pointer;
    transform: translateY(-50%); /* Центруємо по вертикалі */
    transition: opacity 0.5s ease;
}

.log_password_visibility_btn{
    position: absolute;
    top: 74.5%; /* Центруємо вертикально */
    right: 5%; /* Відстань від правого краю */
    width: 1.2vw; /* Відносна ширина */
    height: 1.2vw; /* Відносна висота */
    background-image: url('../img/opened-Eyes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: auto;
    cursor: pointer;
    transform: translateY(-50%); /* Центруємо по вертикалі */
    transition: opacity 0.5s ease;
}
.block_for_remember{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 15px;

}
.Check_remember {
}
input[type="checkbox"] {
    accent-color: rgb(0, 0, 0);
}
.answer_text{
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
}
.regAndlog_main_btn {
    font-size: 20px;
    width: 100%;
    background-color: #000;
    color: #eeeeee;
    padding: 10px 0;
    letter-spacing: 2px;
    border-radius: 45px;
    transition: all 0.5s;
    margin-bottom: 20px;
}
.regAndlog_main_btn:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.438);
    transform: translateY(-4px);
}
.regAndlog_main_btn:active{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.363);
    transform: scale(0.98);
}
.login_btn_block {
    display: flex;
    justify-content: center;
    text-align: center;
}
.login_text {
    width: 55%;
    font-size: 18px;
    font-weight: normal;
}
.login_btn {
    color: rgb(209, 179, 11);
    font-weight: 600;
    font-size: 20px;
    background-color: #6e6e6e00;
    transition: all 0.5s;
}
.login_btn:hover{
    text-shadow: 0px 0px 4px #00000062;
}




.block_for_sub{
    width: 100%;
    /* padding: 0 20% 0 27%; */
}

.block_for_reset_password {
    display: flex;
    justify-content: center;
    text-align: center;
    /* width: 100%; */
    margin-bottom: 10px;
}
.text_reset_password{
    font-size: 17px;
    background-color: #d0e60a00;
    border: none;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    font-weight: normal;
    /* margin-left: -5px; */
}
.reset_password_btn {
    color: rgb(209, 179, 11);
    font-weight: 600;
    font-size: 19px;
    background-color: #6e6e6e00;
    transition: all 0.5s;
 
}
.reset_password_btn:hover{
    text-shadow: 0px 0px 3px #00000062;
}

.logAndreg_btn_block {
    display: flex;
    justify-content: center;
    text-align: center;
}
.logAndreg_text {
    width: 55%;
    font-size: 18px;
    font-weight: normal;
}
.logAndreg_btn {
    color: rgb(209, 179, 11);
    font-weight: 600;
    font-size: 20px;
    background-color: #6e6e6e00;
    transition: all 0.5s;
}
.logAndreg_btn:hover{
    text-shadow: 0px 0px 4px #00000062;
}






/* ----------------------Move block-------------------- */
.auth_active{
    opacity: 1;
    visibility: visible;
  
  
}
.auth_inactive{
    opacity: 0;
    transform: translateX(400px);
    visibility: hidden;
}

/* ----------------------------------------Registration/Loading form moving----------------------------------------------------------------- */
.invalidRegLogForm{
    opacity: 0;
    visibility: hidden;
}
.validRegLogForm{
    opacity: 1;
    visibility: visible;
}
.fromLoading{
    opacity: 0;
    transform: translateX(400px);
    transition: all 1s;
    visibility: hidden;
}

.offerToConfirm_main_block{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding: 0px 60px;
    margin-top: 4%;

}
.offerToConfirm_sub_block{
    background-color: #9b9b9b67;
    border-radius: 45px;
    padding-bottom: 25px;
    overflow: hidden;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-56%);
    z-index: 6;

}
.otc_block_for_img_01 {
    height: 140px;
    width: 100%;
    margin-bottom: 20px;

}
.otc_header_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.block_for_center_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.otc_block_for_img_02 {
    height: 150px;
    width: 30%;
    margin-bottom: 20px;
}
.otc_center_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.otc_header_text {
    font-size: 34px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    
}
.otc_block_for_text{
    padding: 0 60px;
    letter-spacing: 0.7px;

}
.otc_sub_text {
}
.otc_email_text{
    color: rgb(37, 163, 48);
    font-weight: 500;
}


.otc_sub_text_02 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    color: rgb(49, 155, 120);
}
.block_for_line{
    width: 100%;
    padding: 0px 23%;
}
.otc_line{
    width: 100%;
    height: 3px;
    background-color: black;
    mask-image: linear-gradient(to right, transparent, black, black, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black, black, transparent);
    text-align: center;
    margin-bottom: 15px;
}
.otc_ask_for_resent{
    margin-bottom: 15px;
}
.block_for_timer{
    margin-bottom: 10px;
    

}
.timer{
}
.otc_block_for_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.otc_btn{
    font-size: 18px;
    width: 60%;
    background-color: #000;
    color: #eeeeee;
    padding: 10px 0;
    letter-spacing: 2px;
    border-radius: 45px;
    transition: all 0.5s;

}

.otc_btn:hover{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.438);
    transform: translateY(-2px);
}
.otc_btn:active{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.363);
    transform: scale(0.98);
}
/* ---------------------------------------------------------------------------------------------- */
.inactive_loading_block{
    opacity: 0;
    visibility: hidden;
}
.active_loading_block{
    opacity: 1;
    transition: all 1s;
    visibility: visible;
}
.block_for_all_loading_animation{
    height: 100%;
    width: 100%;
}
.loading_main{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
}
.block_for_loading_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;;
    margin-bottom: 4%;
     

}
.loading_animation {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.block_for_loading_text {
    text-align: center;
    font-size: 26px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 600;
}


.reset_pssword_block {
    width: 100%;
   
 

}
.reset_password_main {
     display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-self: center;
    width: 60%;
    padding: 4% 8%;
    border-radius: 45px;
    box-shadow: 0px 0px 10px #00000062;
    background-color: #ffffff;
}
.rp_header {
}
.rp_block_for_img {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.rp_block_img {
    border-radius: 25px;
    width: 25%;
    height: 80%;
}
.rp_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.rp_block_for_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
}
.rp_header_text_01 {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 3.5%;
}
.rp_header_text_02 {
    font-weight: 550;
    font-size: 20px;
    color: #616060;
    letter-spacing: 1px;
}
.reset_password_footer {
}
.rp_footer_text_01 {
    font-size: 18px;
    letter-spacing: 1.3px;
    margin-bottom: 1.5%;
    margin-top: 6%;
}
.rp_footer_form {
}
.rp_footer_email {
    color: #000000;
    font-size: 17px;
    letter-spacing: 2px;
    padding: 3% 4%;
    border-color: #bfbfbf;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    margin-bottom: 5%;
    transition: all 1s;
}
.rp_footer_email:hover{
    /* background-color: #eff6f7; */
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.253)
}
.rp_footer_email:focus{
    background-color: #f8fdfd;
    border-color: #ccedf5;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.253)

}
.rp_footer_confirm_btn {
    /* font-size: 20px;
    width: 100%;
    background-color: #2ad2f0;
    color: #6d7071;
    padding: 8px 0;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: all 0.5s;
    margin-bottom: 20px;
    border-width: 2px;
    border-color: #1fb6cd;
    border-style: solid; */
    font-size: 20px;
    width: 100%;
    background-color: #000000;
    color: #eeeeee;
    padding: 10px 0;
    letter-spacing: 2px;
    border-radius: 45px;
    transition: all 0.5s;
    margin-bottom: 20px;
}
.rp_footer_confirm_btn:hover{
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.438);
    transform: translateY(-4px);
    border-color: #636262; */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.438);
    transform: translateY(-4px);
}
.rp_footer_confirm_btn:active{
    /* box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.363);
    transform: scale(0.98); */
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.363);
    transform: scale(0.98);


}
.block_for_resend_code{
    text-align: center;
    margin-bottom: 1%;
}
.rp_footer_send_code_again {
    letter-spacing: 1.2px;
    font-size: 16px;
    color: #012327;
    font-weight: 600;

}
.rp_footer_try_again_btn {
    background-color: #ccedf500;
    letter-spacing: 1px;
    font-size: 16px;
    color: #15a3c7;
    font-weight: 650;
    transition: all 1s;
    pointer-events: none;
}
.rp_footer_try_again_btn:hover{
    text-shadow: 0px 0px 3px #0000008f;
}
.rp_footer_block_return_to_login {
    /* padding-right: 17.2%; */
    display: inline-flex;
    flex-grow: 0;
    align-items: center;
      
        
}
/* .rp_footer_return_btn{
    background-color: #ffffff00;
    display: inline-flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    color: #677172;
    font-size: 18px;
    letter-spacing: 1.5px;
    width: auto; 
    border: none; 
    cursor: pointer; 
}
.rp_footer_return_img_block_btn {
    width: 10%;
    height: auto;
    margin-right: 2%;


}
.rp_footer_return_img_btn{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
} */

.rp_footer_return_btn {
  background-color: transparent;
  color: #0e93a1;
  font-size: 20px;
  letter-spacing: 1.5px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
  width: auto;
  position: relative;
  display: inline-flex;
}
.rp_footer_return_btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 100%;
  max-width: 100%;
  pointer-events: none;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}
.rp_footer_return_btn:hover::after {
  transform: scaleX(1);
}
.rp_footer_return_img_block_btn {
    display: inline-block;
    width: 8%;
    margin-right: 2%;
}

.rp_footer_return_img_btn {
    width: 100%;  
    height: auto;
    object-fit: cover;
}

.rp_footer_block_for_answer{
    text-align: center;
}
.rp_footer_answer_text{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0px 0px 15px 0px;
}
.rp_footer_try_again_btn span{
    color: black;
 }