
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: 'Montserrat';}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: 600;}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #070608, #b9c1d7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    margin-top: -30px;
    background: rgb(255, 255, 255);
    padding: 5% 8% 4% 8%;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 550px;
    margin-bottom: 10px;
    margin-left: 5%;
    height: auto;
    width: 90%;
    overflow: hidden;
    position: relative;
    
}
.btn {
    display: inline-block;
    margin-right: 20px;
    padding: 15px 30px;
    background: #6e8efb;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px 1px 1px #000;
}
.btn:hover {
    background: #4761b1;
}
.btn:hover:not(:disabled) {
    background-color: #4a6fe3;
    cursor: pointer;
  }
.logo__verification{
    max-width: 250px;
    max-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 22%;
    margin-top: -20px;
}
.img_logo{
    max-width: 250px;
    max-height: 150px;
    margin-left: 15%;
}
.img_logo-main{
    max-width: 280px;
    max-height: 250px;
    margin-left: 55%;
    margin-top: -25px;
}
.main__card {
    background-color: rgba(0, 0, 0, 0.941);
    padding: 10px 50px 0px 50px;
    width: 700px;
    height: 560px;
    border-radius: 4%;
}
.container__main {
}
.logo__verification-main{
max-width: 250px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 22%;
    margin-top: -10px;
}
.svg{
max-width: 15px;
max-height: 15px;
z-index: 3;
position: absolute;
fill: white;

}

.header {
    
}
.header_text_01 {
    font-size: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 4%;
}
.header_text_02 {
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #636363;
    margin-bottom: 1%;
    font-weight: 550;
}
.header_text_03{
    font-size: 15px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #464444;
    font-weight: 550;
    margin-bottom: 4%;
}
.password_form{
    position: relative;
}
.send_code_form_text_01 {
    text-align: left;
    margin-bottom: 1%;
}


.header_password_text_01{
    font-size: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 4%;



}
.header_password_text_02{
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #303030;
    margin-bottom: 3%;
    font-weight: 600;
    
}


.password_form_text_01{
    width: 100%;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #243b83;
    margin-bottom: 1%;
    font-weight: 600;
    display: block;
    text-align: left;
    margin-left: 1%;

}
.password_form_text_02{
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #2e4768;
    margin-bottom: 3%;
    font-weight: 600;
    display: block;
    text-align: left;
    margin-left: 1%;

}
.password_form_input_01{
    background-color: #b4b0b0;
    width: 70%;
    height: 32px;
    border-radius: 5px;
    display: block;
    padding: 1% 3%;
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-bottom: 1%;
    transition: all 0.6s;
}
.password_form_input_01:hover{
    box-shadow: 0px 0px 10px 1px rgba(49, 49, 49, 0.212);
}
.password_form_input_01:focus{
    box-shadow: 0px 0px 10px 1px rgba(49, 49, 49, 0.26);
    background-color: #cac6c6;
}

.block_for_inputes {

}
.send_code_form {
}
.password_visibility_btn_01{
    position: absolute;
    top: 17.5%; /* Центруємо вертикально */
    right: 32%; /* Відстань від правого краю */
    width: 1.1vw; /* Відносна ширина */
    height: 1.1vw; /* Відносна висота */
    background-image: url('/img/opened-Eyes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: auto;
    cursor: pointer;
    opacity: 1; /* Початково видно */
    transform: translateY(-50%); /* Центруємо по вертикалі */
    transition: opacity 0.5s ease;
}
.password_visibility_btn_02{
    position: absolute;
    top: 58%; /* Центруємо вертикально */
    right: 32%; /* Відстань від правого краю */
    width: 1.1vw; /* Відносна ширина */
    height: 1.1vw; /* Відносна висота */
    background-image: url('/img/opened-Eyes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: auto;
    cursor: pointer;
    opacity: 1; /* Початково видно */
    transform: translateY(-50%); /* Центруємо по вертикалі */
    transition: opacity 0.5s ease;
}
.block_for_answer_03{
    margin-bottom: 3%;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.8px;
}
.block_for_answer_04{
    margin-bottom: 3%;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.8px;
}
.inner_answer_block_03_01{
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.8px;
    color: #972222;
    margin-left: 1%;
}
.inner_answer_block_03_02{
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.8px;
    color: #0a0909;
    margin-left: 1%;

}
.inner_answer_block_03_02 span{
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.8px;
    color: #7e0303;
    margin-left: 1%;
}
.inner_answer_block_03_03{
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.8px;
    color: #000000;
    margin-left: 1%;
}

.progresbar_hidden{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);

}
.progresbar_visible{
    opacity: 1;
    visibility: visible;
}
.block_for_progresbar {
    width: 100%;
    height: 6px;

}
.progressbar_border {
    width: 40%;
    height: 100%;
    background-color: #7e7b7b;
    border-radius: 15px;
}
.progresbar {
    width: 10%;
    height: 100%;
    transition: width 1s ease-in-out, opacity 0.7s;
    border-radius: 15px;
}
.go_to_login{
    display: inline-block;
    margin-right: 20px;
    padding: 15px 30px;
    background: #6e8efb;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background 0.3s;
    border: 1px 1px 1px #000;
    font-size: 13px;
}
.go_to_login:hover{
    background: #4761b1;
}

.change_password_btn{
    display: inline-block;
    margin-right: 20px;
    padding: 15px 30px;
    background: #6e8efb;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background 0.3s;
    border: 1px 1px 1px #000;
}
.change_password_btn:hover {
    background: #4761b1;
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
    mask-image: linear-gradient(to right, transparent, black, black, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black, black, transparent);
    text-align: center;
    margin-bottom: 15px;
}
.input_code{
    width: 85%;
    height: 50px;
    border-radius: 5px;
    color:#003366;
    text-align: center;
    letter-spacing: 5px;
    background-color: #c7c7c7d3;
    margin-bottom: 4%;
    font-size: 24px;
    font-weight: 700;
    transition: all 1s;
}
.input_code::placeholder{
    color:#000000;
    font-weight: 600;
    font-size: 18px;
}
.input_code:hover{
    box-shadow: 0px 0px 10px 1px rgba(49, 49, 49, 0.178);
}
.input_code:focus{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.199);
}
.block_for_answer_01{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 550;
    color:#201d1d;
    margin-bottom: 10px;
}
.menu__logo {
display: flex;
justify-content: center;
margin-left: 10px;
margin-bottom: 15px;
}
.menu-list_logo  {
display: flex;
flex-direction:column;
justify-items: center;
align-content: center;

list-style: none;
margin-right: 80px;
margin-bottom: 5px;
}

.company-info {
color: white;
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;

}
.tiktok{
height: 12px;
margin-top: 1px;
}

.block_for_swiping{
    /* transition: all 0.5s ease; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 85%;
    background-color: rgb(255, 255, 255);
   
}
.block_for_swiping_02{
    /* transition: all 0.5s ease; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 35%;
    background-color: rgb(255, 255, 255);
}
.swiping_hidden{
    visibility: hidden;
    opacity: 0;
    /* transform: translateX(-50%) translateY(calc(-50% + 200px)); */
}
.swiping_visible{
    visibility: visible;
    opacity: 1;
}
.toLoginBtn_hidden{
    display: none;
}
.toLoginBtn_visible{
    display: block;
    margin: 0 auto;
}
.twoBtn_visible{
    display: inline-block;
}
.toLoginBtn_delete{
    display: none;
}
